
<div id="side_menu" style="float:left" >
  <ul><i class="material-icons prefix">link</i><a style ="color: #fff" routerLink="/login" routerLinkActive="active">Switch-User</a></ul>
  <ul><i class="material-icons prefix">link</i><a style ="color: #fff" routerLink="/users" routerLinkActive="active">UserList</a></ul>
  <ul><i class="material-icons prefix">link</i> <a style ="color: #fff" routerLink="/logDeatils" routerLinkActive="active">Log Details</a></ul>
  <ul><i class="material-icons prefix">link</i> <a style ="color: #fff" routerLink="/login">Log Out</a></ul>
  
</div>
